* {
    box-sizing: border-box;
}

body {
    padding: 5px 20px;
    height: 4000px;
}

h1 {
    color: blue;
    margin-bottom: 40px;
}

input:hover::placeholder, 
input:focus::placeholder {
  color:orange;
}

input[type="checkbox"]:checked {
	background: orangered;
}

button:disabled {
    background-color: rgb(132, 24, 24);
    cursor: not-allowed;
    color: #f2eaea;
  }



