* {
    box-sizing: border-box;
}

.container {
    max-width: 700px;
    border: solid 4px red;
    min-height: 300px;
    margin: 30px auto;
    padding: 20px;
}

.container > div {
    border: dashed 1px rgb(98, 0, 255);
    padding: 0 20px;
}
