* {
    box-sizing: border-box;
}

.container {
    max-width: 700px;
    /* height: 600px; */
    border: solid 4px red;
    background-color: beige;
    border-radius: 8px;
    margin: 30px auto;
    padding: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container > li {
    border: dashed 1px rgb(98, 0, 255);
    background-color: burlywood;
    font-size: 22px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    padding: 20px;
    flex-basis: 150px;
    flex-basis: calc((100% - 20px * 3) / 4);
    height: 140px;
}




/* div:empty {
    border: 1px dashed red;
} */

/* :is(h2, h3) {
    background-color: red
} */

/* p:not(.highlight) {
    color: grey;
} */
  
