:root {
    /* Fonts */
    --primary-font: "Montserrat", sans-serif;

    /* Colors */
    --primary-color: #111111;
    --secondary-color: #1E1823;
    --accent-color: #FD9222;
    --additional-color: #FCF1E0;
    --light-color: #FAFAFA;
}

/* base reset */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: currentColor;
}

button {
    font-family: inherit;
}

/* responsime images */

/* base styles */


body {
    font-family: var(--primary-font);   
}

.container {
    width: 1136px;
    margin-right: auto;
    margin-left: auto;
}

.section {
    border: solid 1px red;
}

.section-title {
    font-weight: 600;
    font-size: 24px;
    line-height: 117%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    text-align: center;
    color: var(--primary-color);
    width: 411px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.accent {
    color: var(--accent-color);
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}


/* main styles */


.header {

}

.header-logo {
    
}

.header-list-nav {
    
}

.header-nav-item {
    
}

.header-list-socials {

}

.header-socials-item {

}

/* hero */

.hero {
    
}

/* benefits */

.benefits {
    background-color: var(--secondary-color);
}

.benefits-list {

}

.benefits-list-item {

}

.benefits-list-icon {
    
}

.benefits-list-subtitle {

}

.benefits-list-text {

}

/* sensation */

.sensation {

}

/* made */

.made {

}

/* loved */

.loved {

}

/* footer */

.footer {

}





